/*Mobile View */
#landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#landing .block-grid {
  display: flex;
  margin-top: 80rem;
}

#landing .block-grid .card-item {
  background-color: #04d361;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 38rem 1rem;
  height: 10rem;
  width: 20rem;
  transition: background-color 0.2s;
}

#landing .block-grid .card-item:hover {
  background-color: #04bf58;
}

#landing .block-grid .card-item div {
  display: none;
}

#landing .block-grid .card-item:hover div {
  display: flex;
  position: absolute;

  border: solid 0.5rem #04bf58;
  border-radius: 1rem;
  height: 25rem;
  width: 100rem;
  left: 25rem;
  margin-top: 36rem;
  background-color: #ffffff;
}

#landing .block-grid .card-item:hover div p {
  text-align: justify;
  padding: 1rem;
  color: #000000;
}

#landing .block-grid .card-item:hover .list-reaprov ul {
  padding: 1rem;
  padding-left: 2rem;
}

#landing .block-grid .card-item button {
  height: 10rem;
  width: 18rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: 700 2rem Archivo;
}

#landing .text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing .text-center strong {
  font: 700 3rem Archivo;
}

#landing .map-google {
  background-color: #e4e0e0;
  margin: 5rem 0rem;
  height: 65rem;
  width: 100rem;
  padding: 9rem;
  border: 0rem;
  border-radius: 1rem;
}

#landing .map-google p {
  display: flex;
  align-items: center;
  justify-content: center;
}
